.profile {

  &__layout {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: start;
  }

  &__text {
    font-size: 1.25rem;
    &-block {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Montserrat Alternates", serif;
      gap: 10px;
    }

    &-title {
      font-size: 1.5rem;
    }
  }

  &__button {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}