.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(#3C3C3C, 0.4);
  top: 0;
  left: 0;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.active {
  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  display: none;
  height: auto;
  width: auto;
  padding: 35px;
  border-radius: 12px;
  background-color: #FCFCFC;
  transform: scale(0.5);
  transition: 0.4s;
}

.modal-content.active {
  display: block;
  transform: scale(1);
  transition: 0.4s;
}

.modal__input {
  color: #3C3C3C;
  font-family: "Montserrat Alternates", serif;
  padding: 2px 5px;
  background-color: #D8FFFE;
  border-radius: 5px;
  border: 1px solid #00BB82;
  transition: border-color 0.2s;

  width: 100%;
}

.modal__textarea {
  color: #3C3C3C;
  font-family: "Montserrat Alternates", serif;
  padding: 2px 5px;
  background-color: #D8FFFE;
  border-radius: 5px;
  border: 1px solid #00BB82;
  transition: border-color 0.2s;
  height: 20vh;
  max-height: 70vh;
}

.modal__error {
  border-color: #cc2b1a;
  border-width: 1px;
  transition: 0.2s;
}

.modal__error-message {
  border-color: #cc2b1a;
  border-width: 1px;
  transition: 0.2s;
  font-size: 0.75rem;
  color: #cc2b1a;
}

.modal__form {
  display: flex;
  //align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.modal__invite {
  &-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &-url {
    border-radius: 5px;
    padding: 1.75px;
    background-color: var(--green-transparent-20);
  }

  &-icon-copy {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border-radius: 5px;
      padding: 1.75px;
      background-color: var(--green-icon-active);
      transition: 0.3s;
    }
  }
}

//.modal__error {
//  color: #e74c3c; /* красный, но не агрессивный */
//  text-align: center;
//  font-size: 0.85rem;
//  //margin-top: 4px;
//  //margin-bottom: 8px;
//  //padding-left: 4px;
//  font-weight: 500;
//}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}