.board {
  &__container {
    display: flex;
    flex-direction: row;
    padding: 60px 60px 30px 60px;
    align-items: flex-start;
    //align-self: center;
    gap: 0.5rem;
    justify-content: space-around;
  }
}