.wallets {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 16px;
  background-color: #f0f0f0;
  border-radius: 5px;

  &__title {
    font-family: "Montserrat Alternates", serif;
    //font-size: 18px;
    color: #3C3C3C;

    display: flex;
    padding: 0 8px;
    background-color: rgba(0, 187, 130, 0.2);
    border: 1px solid rgba(60, 60, 60, 0.15);
    border-radius: 5px;
  }

  &__cards {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 0.25rem 0.25rem;
    gap: 24px;

    max-height: calc(73vh - var(--header-height));
    overflow-y: auto;
  }

  &__cards::-webkit-scrollbar {
    width: 8px;
  }

  &__cards::-webkit-scrollbar-track {
    background: transparent;
  }

  &__cards::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* Цвет ползунка */
    //background-color: transparent; /* Цвет ползунка */
    border-radius: 4px;
    border: none;
  }

  &__cards::-webkit-scrollbar-thumb:hover {
    transition: 0.5s ease;
    background-color: rgba(100, 100, 100, 0.7); /* Подсветка при наведении */
  }
}


/* xs */
@media (min-width: 0px) {
  .wallets {
    padding: 0;
  }
  .wallets__title {
    font-size: 12px;
    padding: 4px;
  }

  .wallet {
    &__info {
      gap: 0;
    }
  }
}

/* lg */
@media (min-width: 992px) {
  .wallets__title {
    font-size: 18px;
  }
}

.column__title {
  font-family: 'Montserrat Alternates', serif;
  //font-size: 24px;
  color: #3C3C3C;

  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}