
.wallet {
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 187, 130, 0.2);
    border: 1px solid rgba(60, 60, 60, 0.15);
    border-radius: 5px;
    padding: 0 10px;

    font-family: 'Montserrat Alternates', 'serif';
  }
}

@media (max-width: 576px) {
  .wallet__card {
    //flex-direction: column;
  }
}

/* xs */
@media (min-width: 0px) {
  .wallet__card {
    padding: 4px;
  }
}

/* lg */
@media (min-width: 992px) {
  .wallet__card {
    gap: 0 10px;
  }
}


